.contanier{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader {
    @apply relative w-12 h-12 mx-auto;
    position: relative;
    animation: move 2s linear alternate infinite;
  }
  
  .loader:before {
    content: '';
    @apply absolute top-[60px] left-0 rounded-full;
    width: 48px;
    height: 5px;
    background: #f0808050;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    @apply absolute top-0 left-0 w-full h-full rounded-sm;
    background: #f08080;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  @keyframes move{
    50%{
        transform: translateX(5vw);
    }
    100%{
        transform: translateX(-5vw);
    }
  }
  
  @keyframes shadow324 {
    0%, 100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }
  